// variables
@import "./helpers/config";

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;

  img {
    margin: 0 10vw;
  }
}

.arrow-down {
  align-self: center;
  position: absolute;
  bottom: 20px;

  img {
    height: 40px;
  }

  &:hover {
    cursor: pointer;
  }
}
