@import "./helpers/config";

.projects {
  min-height: 100vh;

  &-text {
    margin-bottom: 2rem;
  }

  .subtopic {
    font-family: $title-font;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    margin: 4rem 0;
  }

  .other-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.featured-mobile {
  display: none;
}

// featured projects
.pic-left {
  .f-project {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;

    &-poster {
      background: #c4c4c4;
      border-radius: 5px;
      transform: translateX(25px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      transform: translateX(-25px);

      &-subtitle {
        font-size: 0.8rem;
        font-family: $title-font;
        text-align: right;
      }

      &-title {
        font-size: 1.5rem;
        font-family: $title-font;
        color: $text-highlight;
        font-weight: bold;
        text-align: right;
      }

      &-description {
        background: black;
        border-radius: 5px;
        color: white;
        padding: 15px;
        text-align: right;
        filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));
      }

      &-tech {
        font-size: 1rem;
        font-family: $title-font;
        color: $text-secondary;
        text-align: right;
      }

      &-git {
        height: 1.5rem;
      }
    }
  }
}

.pic-right {
  .f-project {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;

    &-poster {
      background: #c4c4c4;
      border-radius: 5px;
      transform: translateX(-25px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      transform: translateX(25px);

      &-subtitle {
        font-size: 0.8rem;
        font-family: $title-font;
        text-align: left;
      }

      &-title {
        font-size: 1.5rem;
        font-family: $title-font;
        color: $text-highlight;
        font-weight: bold;
        text-align: left;
      }

      &-description {
        background: black;
        border-radius: 5px;
        color: white;
        padding: 15px;
        text-align: left;
        filter: drop-shadow(-3px 6px 10px rgba(0, 0, 0, 0.5));
      }

      &-tech {
        font-size: 1rem;
        font-family: $title-font;
        color: $text-secondary;
        text-align: left;
      }

      &-git {
        height: 1.5rem;
      }
    }
  }
}

// other projects
.o-project {
  background: #252525;
  width: 275px;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem;
  border-radius: 5px;
  filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));

  &-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    &-icon {
      width: 20%;
    }

    &-git {
      filter: invert(1);
      width: 80%;
    }
  }

  &-title {
    font-family: $title-font;
    color: white;
    margin-top: 4rem;
  }

  &-description {
    font-family: $title-font;
    color: #dadada;
    font-size: 0.9rem;

    span {
      color: $bg-color;
    }
  }
}

// responsive
@media only screen and (max-width: 600px) {
  .projects {
    margin-top: 10vh;
  }

  .featured-web {
    display: none;
  }

  .featured-mobile {
    display: flex;
    flex-direction: column;
  }

  // featured projects
  .f-project {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-poster {
      border-radius: 5px;
      width: 90vw;
      margin: 10px;
      filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      &-subtitle {
        font-size: 0.8rem;
        font-family: $title-font;
        text-align: left;
      }

      &-title {
        font-size: 1.2rem;
        font-family: $title-font;
        color: $text-highlight;
        font-weight: bold;
        text-align: left;
      }

      &-description {
        margin: 10px;
        text-align: center;
      }

      &-tech {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-stack {
          font-size: 1rem;
          font-family: $title-font;
          color: $text-secondary;
          text-align: center;
          margin: 10px;
        }
      }

      &-git {
        height: 1.2rem;
        margin: 10px;
      }
    }
  }
}
