@import "./helpers/config";

.underdevelopment {
  height: 100vh;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    object-fit: contain;
    padding: 20px;
  }

  h2 {
    font-family: $title-font;
    text-align: center;
  }
}
