@import "./helpers/config";

.work {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 3rem;
}

.nav {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.nav-pills .nav-link {
  border-radius: 0 !important;
  color: black !important;
  font-size: 1.2rem;
}

.nav-pills .nav-link.active {
  font-family: $subtitle-font;
  font-size: 1.2rem;
  background-color: transparent !important;
  color: $text-highlight !important;
  font-weight: bold;
  border-left: 4px solid $text-highlight;
  outline: none;
}

.workex {
  &-title {
    font-family: $title-font;
    font-weight: bold;
    font-size: 1.5rem;
  }

  span {
    color: $text-highlight;
  }

  &-dates {
    font-family: $title-font;
    font-size: 1.2rem;
    color: $text-secondary;
  }

  &-description {
    font-family: $text-font;
    font-size: 1.1rem;
    color: $text-secondary;

    span {
      font-weight: 600;

      a {
        color: $text-highlight;
      }

      a:hover {
        color: $text-highlight;
      }
    }
  }
}

.workex-image {
  img {
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.5));
    width: 100%;
  }

  .needl-imgs {
    display: flex;
    flex-direction: row;
  }
}

//responsive
@media only screen and (max-width: 600px) {
  .work {
    padding-bottom: 3rem;
  }

  .nav {
    border-left: 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav::-webkit-scrollbar {
    display: none;
  }

  .nav-pills .nav-link {
    font-size: 1rem;
  }

  .nav-pills .nav-link.active {
    font-size: 1rem;
    border-left: 0px;
    border-top: 3px solid $text-highlight;
  }

  .workex-image {
    img {
      margin: 15px 0;
    }
  }

  .workex {
    &-title {
      margin-top: 20px;
      font-size: 1.2rem;
    }

    &-dates {
      font-size: 1rem;
    }

    &-description {
      font-size: 1rem;
    }
  }
}
